<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="kafka" class="lb.kafka.logback.appender.KafkaAppender">
        <encoder class="lb.kafka.encoder.PatternBasedMessageEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <topic>test</topic>
        <brokers>192.168.1.167:9092</brokers>
        <deliveryType>YIElD</deliveryType>
    </appender>


    <root level="info">
        <appender-ref ref="kafka" />
    </root>

</configuration>